.main{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading{
    color:darkslategray;
    font-size: 45px;
}
.drawing-area{
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 550px;
    /* background-color: whitesmoke; */
    box-shadow: 10px 0 5px 10px #888;
}
.config{
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
}
.config>*{
    margin-bottom: 20px;
    align-self: center;
    padding: 10px;
}
#colorSelector{
    padding: 0px !important;
    height: 70px;
    width: 70px;
    border: 0px;
    overflow: hidden;
}

.config>*:active{
    background-color: greenyellow;
}
footer{ 
    text-align:center;
    padding: 10px;
    margin-top: 20px;
}
footer>div{
    font-size: 23px;
}
a{
    color:black
}